<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogGBG</title>
</head>
<body>
    <header>
        header
    </header>
    <main>
        <h1>H1</h1>
        <div class="all-posts">
            <!-- allPosts.map?! -->
            <div class="post">
                <h3>post.header</h3>
                <div class="post-detail">
                    <p>post.content</p>
                    <p>post.postingDate</p>
                    <p>post.contentImg?</p>
                </div>
                <div class="postedBy-detail">
                    <p>post.postedBy</p>
                    <div>post.postedBy.pb.img.src (img tag)</div>
                </div>
                <div class="interact-with-post">
                    <p>post.addedComments</p>
                    <p>post.likes</p>
                    <p>share post</p>
                    <p>add comment on current post</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        footer
    </footer>
</body>
</html>