<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Post</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <form action="/post" method="post">
      <div class="header-input">
        <label for="title">Title</label>
        <input type="text" name="title" id="newPostTitle" required placeholder="title..." />
      </div>

      <div class="content-input">
        <textarea
          name="content"
          id="newPostContent"
          cols="30"
          rows="6"
          placeholder="description..."
        ></textarea>
      </div>

      <select name="userName" id="userName">
        <% users.map(user => { %>
        <option class="option" value="<%= user.userName %>"><%= user.userName %></option>
        <% }); %>
      </select>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
