/* All in one style? */
/* All in one style? */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header,
footer {
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  width: 100%;
  text-align: center;
}

main {
  padding: 1rem;
  flex-grow: 1;
  width: 100%;
}

/* MAIN PAGE, ALL POSTS */
.all-posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 500px);
  gap: 1rem;
  justify-content: center;
}

/* INDIVIDUAL POSTS */
.post {
  width: 500px;
  padding: 1rem;
  border: 1px solid #ccc;
  color: #1c1d1e;
  flex-grow: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-radius: 5px;
}

.author,
.post-detail,
.post-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.post-content {
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
}

.interact-with-post {
  display: flex;
  gap: 1rem;
}

/* USER LIST */
.all-users {
  padding: 1rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.user-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.user-image {
  width: 30px;
  border-radius: 100px;
}

h3 {
  color: #007bff;
}

/* img */
img {
  width: 300px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
}

header {
  background-color: #343a40;
  border: none;
  display: flex;
  justify-content: space-between;
}
header h3 {
  color: white;
}

footer {
  background-color: #6c757d;
  color: white;
}

.like-btn {
  padding: 0 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.like-btn:hover {
  background-color: #95bde8;
}

.share-btn {
  padding: 0 10px;
  background-color: #c4c7ca;
  gap: 10px;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.share-btn:hover {
  background-color: #828386;
}

#addNewPost {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0 12px;
}
/*  */

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem 2rem;
  margin-top: 2rem;
  border-radius: 5px;
  color: white;
  background-color: #28a745;
  height: 32vh;
}

.header-input input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  letter-spacing: 3px;
}
.header-input label {
  letter-spacing: 3px;
}

textarea {
  border-radius: 5px;
  padding: 5px;
}

form button {
  border-radius: 5px;
  border: none;
  padding: 5px 0;
  background-color: lightgray;
  margin-top: 3rem;
}

select {
  padding: 3px;
  border-radius: 5px;
  border: none;
}
